.container {
  padding: 50px 0px;
}

.img-thumbnail {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

.Product_name {
  margin: 10px 0;
}

.old-price {
  color: gray;
  text-decoration: line-through;
  font-weight: bold;
}

.new-price {
  font-weight: bold;
  margin: 0px 0px 20px 3px;
}

.col-xl-3, .col-md-6, .col-sm-12 {
  position: relative;
  margin-bottom: 30px;
}

.discount {
background-color: red;
color: white;
padding: 0px 3px;
position: absolute;
margin: 5px;
}

.collection{
color: white;
padding: 0px 3px;
background-color: grey;
position: absolute;
margin: 5px 0px;
}
