<<<<<<< Updated upstream
.header-logo {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
=======
.container-main {
  display: flex;
  flex-direction:column;
  height: 180px;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.box-Logo{
>>>>>>> Stashed changes
  color: silver;
  background-color: black;
  line-height: 50px;
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 20px
}

.red-dot{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: red;
  position: absolute;
  margin-left: 29%;
  margin-top: 85px;
}

.subject{
  font-size: 2em;
  font-weight: bold;
  float: none;
  margin-left: 25%;
  margin-top:40px;
}

.section-input{
  width: 38%;
  height: 18px;
  margin-left: 29%;
  margin-top: 20px;
  padding: 8px;
  border-color: silver;
  border-radius: 5px;
  box-shadow: 0px:
}

button{
  height: 36px;
  width: 60px;
  margin-left: 20px;
  color: white;
  background-color: #237deb;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.list{
  width: 50%;
  height: 180px;
  line-height: 60px;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid silver;
  border-radius: 5px;
  }

.list-item {
  border-bottom: 2px solid silver;
  padding-left: 20px;
}

.list-item:nth-last-child(-n+1) {
  border-bottom: none;
}

.material-icons {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: red;
  margin-right: 20px;
  float: right;
  margin-top: 12px;
}

input:checked + span {
  text-decoration: line-through;
}
