
.container-main {
  display: flex;
  flex-direction:column;
  height: 180px;
  justify-content: space-evenly;
  flex-wrap: nowrap;

}

.box-Logo{
  color: silver;
  background-color: black;
  font-size: 1.5em;
  padding: 10px 10px;
}

.box-red-dot{
  flex-basis: 5px;
  width: 5px;
  background-color: red;
  border-radius: 3px;
  margin-left: 190px;
}

.box-subject{
  font-size: 2em;
  font-weight: bold;
  margin-left:140px;
}

.input-row{
  height: 28px;
  width: 50%;
  border-color: silver;
  border-radius: 5px;
  margin-left: 170px;
}

button{
  color: white;
  background-color: #237deb;
  border: 0;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  margin-left: 20px;
}

::placeholder{
  padding: 5px;
}

.container-list{
  display: flex;
  flex-direction:column;
  margin-top: 30px;
  border: 2px solid silver;
  border-radius: 5px;
  width: 60%;
  margin-left: 140px;
}

.list-item{
  padding: 15px;
  height: 30px;
  line-height: 30px;
  gap: 1rem;
  border-bottom: 2px solid silver;
}

.list-item:last-of-type{
  border-bottom: none;
}

.material-icons {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: red;
  float:right;
  line-height: 30px;
}

input:checked + span {
  text-decoration: line-through;
}
